#confirmEmail {
  margin: 0 auto;
  text-align: center;
  line-height: 75vh;
  .container {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    #confirmEmailInfo {
      margin: 0 auto;
    }
  }
}
