#Background {
  position: absolute;
  top: 0;
  background-color: transparent;

  img {
    width: 100vw;
    background-color: transparent;
  }

  #layer1 {
    z-index: 5;

    position: absolute;
    top: 0;

    img {
      height: 100vh;
    }
  }

  #layer2 {
    z-index: 4;
    position: absolute;
    top: 0;
  }

  #layer3 {
    z-index: 3;
    position: absolute;
    top: 0;
    margin-top: 5vh;
  }

  #layer4 {
    z-index: 2;
    position: absolute;
    top: 0;
  }
}
