#Background {
  position: absolute;
  top: 0;

  .homeLayer {
    width: 110vw;
    background-color: transparent;
  }

  #layer1 {
    z-index: -2;

    position: absolute;
    top: 0;

    .homeLayer {
      height: 100vh;
      width: 100vw;
    }
  }

  #layer2 {
    z-index: -3;
    position: absolute;
    top: 0;
  }

  #layer3 {
    z-index: -4;
    position: absolute;
    top: 0;
  }

  #layer4 {
    z-index: -5;
    position: absolute;
    top: 0;
  }
}
