.slide-appear {
  transform: translateY(-100%);
}

.slide-appear.slide-appear-active {
  transform: translateY(0);
  transition: transform 5000ms linear;
}

.slide-enter {
  transform: translateY(-100%);
}

.slide-enter.slide-enter-active {
  transform: translateY(0);
  transition: transform 5000ms linear;
}
