#clientMenu {
  position: relative;
  float: right;
  #clientMenuButton {
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 15vw;
    min-width: 75px;
    img {
      width: 100%;
    }
  }
}
